@page
@model Web.App.SecretModel
@{
    ViewData["Title"] = "Secret";
}

<h1>Secret</h1>
 @{ 
     if(ViewData.ContainsKey("Identifier"))
     {
        <h2>@ViewData["Identifier"]</h2>
     }
 }

<form action="" method="post">
    Secret:
    <input asp-for="Secret.Content" type="text"/>
    Expiration:
    <input asp-for="Secret.Passphrase"/>
    <input type="submit"/>
</form>

